*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

### Custom gitignore setting ###
# Ignore all IntelliJ IDEA configuration
.idea/*

# Exclude ignoring specific IntelliJ IDEA configuration files
!.idea/.name
!.idea/encodings.xml
!.idea/dictionaries/default.xml
!.idea/vcs.xml